@page "/"

@inject IPresentRepository presentRepository

<h1>Today is @DateTime.Today.ToLongDateString()</h1>

<SurveyPrompt Title="Not the title you were looking for?" />

<ul>
    @foreach (var present in presents)
    {
        <li>@present.Name on @present.Date</li>
    }
</ul>

@code {
    private IEnumerable<Present> presents;

    protected override void OnInitialized()
    {
        presents = presentRepository.GetPresents();
    }
}