@page "/"

@inject IPresentRepository presentRepository

<h1>Today is @DateTime.Today.ToLongDateString()</h1>

<div class="presents">
    <ul>
        @foreach (var present in presents)
        {
            <PresentComponent present="present"></PresentComponent>
        }
    </ul>
</div>

@code {
    private IEnumerable<Present> presents;

    protected override void OnInitialized()
    {
        presents = presentRepository.GetPresents();
    }
}