@page "/present/{id:int}"

@inject IPresentRepository presentRepository;

<h1>@present.Name</h1>

<h2>Blazor Resource: <NavLink href="@present.Url">@present.Url</NavLink></h2>

@code {
    private Present present;
    private Resource resource;

    [Parameter]
    public int id { get; set; }

    protected override void OnParametersSet()
    {
        if (id > 25)
            id = 25;

        present = presentRepository.GetPresent(id);
        present.Url = presentRepository.GetResource();
    }
}
